* {
    margin: 0;
    padding: 0;

}

.load {
    animation: slide 2s;
}

.slider {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 74vh;
    animation: slide 20s infinite;
    background-attachment: fixed;

}

.content {
    color: #fff;
    width: 100%;
    height: 100%;
    
}
.principal p{
    letter-spacing: normal;
    color: #e70634;
}
.principal {
   left: 15%;
   margin-left: 20px;
  
    top: 60%;
    transform: translate(-50%, -50%);
    position: absolute;
    
    letter-spacing: 4px;
font-family: cursive;
background-color: rgba(0, 0, 0, 0.564);
padding: 70px;
padding-right: 100px;
}

.principal h2 {
    font-size: 60px;
    margin-bottom: 20px;

}

@keyframes slide {
    0% {
        background-image: url("./images/download2.jpg");
    }

    20% {
        background-image: url("./images/1681122933496.jpg");
    }

    20.01% {
        background-image: url("./images/download3.jpg");
    }

    40% {
        background-image: url("./images/download4.jpg");
    }

    40.01% {
        background-image: url("./images/download5.webp");
    }

    60% {
        background-image: url("./images/download6.jpg");
    }

    60.01% {
        background-image: url("./images/download21.jpg");
    }

    70% {
        background-image: url("./images/download15.jpg");
    }

    70.01% {
        background-image: url("./images/download7.jpg");
    }

    80% {
        background-image: url("./images/download8.jpg");
    }

    100% {
        background-image: url("./images/download20.jpg");
    }
}